[Unit]
Description=PyTarock Server

[Service]
Type=simple
ExecStart=/opt/venv/bin/python3 TarockWSServer.py localhost 31427
WorkingDirectory=/opt/pytarock
User=pytarock

[Install]
WantedBy=multi-user.target